/*page  defaults*/
body{
     --bg-color: hsl(230, 17%, 14%);
     --top-bg: hsl(232, 19%, 15%);
     --heading-color: hsl(0, 0%, 100%);
     --card-color: hsl(228, 28%, 20%);
     --text-color: hsl(228, 34%, 66%);
     --toggler-color: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
     background-color: var(--bg-color);
     --circle-color: hsl(232, 18%, 16%);
     --mode-change: 33px;
     font-family: 'Inter', sans-serif;
     --opacity-hr: 12%;
     --hover-color: hsl(229, 26%, 29%);
}
body.light{
     --bg-color: white;
     --top-bg: hsl(225, 100%, 98%);
     --heading-color: hsl(230, 17%, 14%);
     --card-color: hsl(227, 47%, 96%);
     --text-color: hsl(228, 12%, 44%);
     --toggler-color: hsl(230, 22%, 74%);
     --circle-color: hsl(0, 0%, 100%);
     --mode-change: 4px;
     --opacity-hr: 100%;
     --hover-color: hsl(230, 16%, 85%);
}
h1,h2,h3{
     color: var(--heading-color);
}
h2{
     position: absolute;
     top: 385px;
     left: 200px;
}
h3{
     position: relative;
     top: -17px;
     left: 25px;
     font-size: 1.8em;
}
p{
     font-weight: 700;
     color: var(--text-color);
}
hr{
     display: none;
}
 /*-------------------------------------------------------------------------------------------------------*/

.top-bg{
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     width: 100%;
     height: 240px;
     background-color: var(--top-bg);
     border-radius: 0 0 20px 20px;
     z-index: -1;
}

 /*-----------------------------------------------------------------------------------------------------*/

.followers{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 120px;
    flex-wrap: wrap;
}

.follows{
     position: relative;
     border-radius: 7px;
     width: 250px;
     height: 250px;
     background-color: var(--card-color);
     cursor: pointer;
}
.youtube{
     margin-right: 150px;
}
.facebook{
     margin-left: 150px;
}
.twitter{
     margin: 0 0 0 0;
}
/*.instagram{

}*/
.line{
     border-radius: 5px 5px 0 0;
     width: 250px;
     height: 4px;
}
.f-line{
     background-color: hsl(208, 92%, 53%);
}
.t-line{
     background-color: hsl(203, 89%, 53%);
}
.i-line{
     background-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}
.yt-line{
     background-color: hsl(348, 97%, 39%);
}
.svg{
     position: absolute;
     top: 40px;
     left: 70px;
}
.handle{
     position: absolute;
     left: 100px;
     top: 29px;
     font-size: 0.8rem;
}
.f-count{
     font-weight: 700;
     position: absolute;
     left: 50px;
     top: 30px;
     font-size: 3.8rem;
}
.i{
     left: 80px;
}
.f2{
     position: absolute;
     top: 145px;
     left: 70px;
     font-weight: 400;
     font-size: 0.8rem;
}
.i-f{
     left: 75px;
}
.arrow-up{
     width: 0;
     height: 0;
     border-left: 5px solid transparent;
     border-right: 5px solid transparent;
     border-bottom: 5px solid hsl(163, 72%, 41%);
}
.up{
     position: absolute;
     top: 210px;
     left: 90px;
}
.arrow-down{
     width: 0;
     height: 0;
     border-left: 5px solid transparent;
     border-right: 5px solid transparent;
     border-top: 5px solid hsl(356, 69%, 56%);
}
.down{
     position: absolute;
     top: 210px;
     left: 90px;
}
.today{
     position: absolute;
     top: 193px;
     left: 105px;
     font-size: 0.7rem;
     color: hsl(163, 72%, 41%);;
}
.today-yt{
     position: absolute;
     top: 193px;
     left: 105px;
     font-size: 0.7rem;
     color: hsl(356, 69%, 56%);
}

/*--------------------------------------------------------------------------------------------------------*/

.head{
     position: absolute;
     top: 12px;
     left: 210px;
}
.dashboard{
     margin-bottom: -8px;
}
.dark-mode{
     display: flex;
     flex-wrap: nowrap;
     flex-direction: row;
     position: absolute;
     right: 300px;
     top: 20px;
}
.toggler{
     position: relative;
     width: 55px;
     height: 24px;
     background-image: var(--toggler-color);
     background-color: var(--toggler-color);
     margin-left: 13px;
     margin-top: 13px;
     border-radius: 20px;
}
.circle{
     position: absolute;
     top: 2.9px;
     left: var(--mode-change);
     width: 18px;
     height: 18px;
     background-color: var(--circle-color);
     border-radius: 100%;
}

/*------------------------------------------------------------------------------------------------------------*/

.box1{
     position: relative;
     top: 210px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     flex-direction: row;
}
.box2{
     position: relative;
     top: 245px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     flex-direction: row;
}
.sub-box{
     height: 120px;
     width: 248px;
     background-color: white;
     border-radius: 5px;
     background-color: var(--card-color);
     cursor: pointer;
}
.b1{
     margin-left: 150px;
}
.b4{
     margin-right: 150px;
}
.b5{
     margin-left: 150px;
}
.b8{
     margin-right: 150px;
}
.svg1{
     position: relative;
     top: 30px;
     left: 195px;
}
.sub-text{
     position: relative;
     left: 25px;
     top: -7px;
     font-size: 0.9em;
}
.up1{
     position: relative;
     bottom: 60px;
     left: 190px;
}
.up2{
     left: 170px;
}
.up3{
     left: 180px;
}
.down1{
     position: relative;
     bottom: 60px;
     left: 190px;
}
.down2{
     left: 175px;
}
.percent4{
     position: relative;
     bottom: 82px;
     left: 195px;
     font-size: 0.7rem;
     color: hsl(163, 72%, 41%);
}
.percent5{
     position: relative;
     font-size: 0.7rem;
     color: hsl(356, 69%, 56%);
     bottom: 82px;
     left: 190px;
}
.percent1{
     position: relative;
     font-size: 0.7rem;
     color: hsl(163, 72%, 41%);
     bottom: 82px;
     left: 205px;
}
.percent2{
     position: relative;
     font-size: 0.7rem;
     color: hsl(163, 72%, 41%);
     bottom: 82px;
     left: 185px;
}
.percent3{
     position: relative;
     font-size: 0.7rem;
     color: hsl(356, 69%, 56%);
     bottom: 82px;
     left: 205px;
}

/*------------------------------------------------------------------------------------------------------------*/

/*300px to 415px*/

@media (max-width: 415px) and (min-width:300px){
     .dashboard{
          position: relative;
          bottom: 5px;
          right: 185px;
          width: 255px;
          font-size: 1.3rem;
     }
     .total{
          font-size: 0.9rem;
          position: absolute;
          top: 27px;
          right: 115px;
          width: 170px;
     }
     hr{
          display: block;
          position: absolute;
          top: 70px;
          left: -190px;
          width: 320px;
          opacity: var(--opacity-hr);
          color: hsl(228, 12%, 44%);
     }
     .dark-mode{
          top: 96px;
          left: 30px;
          width: 300px;
     }
     .toggler{
          margin-bottom: 3px;
          margin-left: 250px;
     }
     .dm{
          position: absolute;
          font-size: 0.9rem;
     }
     .head{
          width: 100px;
     }
     .facebook{
          margin-left: 0;
     }
     .youtube{
          margin-right: 0;
     }
     .followers{
          top: 165px;
     }
     .follows{
          width: 300px;
          height: 200px;
          margin-bottom: 25px;
     }
     .line{
          width: 300px;
     }
     .handle{
          font-size: 0.7rem;
          top: 22px;
          left: 133px;
     }
     .svg{
         zoom: 90%;
         top: 35px;
         left: 120px;
     }
     .f-count{
          font-size: 3.5rem;
          left: 83px;
          top: 15px;
     }
     .f2{
          top: 115px;
          left: 100px;
     }
     .up{
          top: 167px;
          left: 120px;
     }
     .today{
          top: 150px;
          left: 135px;
     }
     .today-yt{
          top: 150px;
          left: 135px;
     }
     .down{
          top: 167px;
          left: 120px;
     }
     .i{
          left: 110px;
     }
     h2{
          width: 210px;
          top: 44.5em;
          left: 30px;
     }
     .sub-box{
          width: 300px;
          margin-bottom: 20px;
     }
     .box1{
          top: 235px;
          margin-bottom: -10px;
     }
     .b1{
          margin-left: 0px;
     }
     .b4{
          margin-right: 0;
     }
     .b5{
          margin-left: 0;
     }
     .b8{
          margin-right: 0;
          margin-bottom: 40px;
     }
     .svg1{
          left: 255px;
          top: 28px;
     }
     .sub-text{
          top: -10px;
     }
     .h3{
          top: -20px;
     }
     .percent1{
          left: 260px;
          width: 0;
     }
     .percent2{
          left: 245px;
          width: 0;
     }
     .percent3{
          left: 260px;
          width: 0;
     }
     .percent4{
          left: 250px;
          width: 0;
     }
     .percent5{
          left: 256px;
          width: 0;
     }
     .up1{
          left: 245px;
     }
     .down1{
          left: 245px;
     }
     .up2{
          left: 230px;
     }
     .up3{
          left: 236px;
     }
}
@media (min-width: 400px) and (max-width: 415px) {
     hr{
          width: 360px;
     }
     .toggler{
          margin-left: 300px;
     }
     h2{
          left: 60px;
     }
}
